<h2 mat-dialog-title>Folio documento: {{argsServicios.folio}}</h2>
<mat-dialog-content class="mat-typography">
  <mat-grid-list cols="4" rowHeight="3:1">
    <mat-grid-tile><p class="color">Contrato: </p>&nbsp;{{argsServicios.id_contrato}}</mat-grid-tile>
    <mat-grid-tile><p class="color">Fecha de Vencimiento: </p>&nbsp;{{argsServicios.fecha_vencimiento}}</mat-grid-tile>
    <mat-grid-tile><p class="color">Total importe: </p>&nbsp; {{argsServicios.total_importe_servicio | currency}}</mat-grid-tile>
  </mat-grid-list>

  <div style="height: 95%;">
    <mat-toolbar color="primary" style="height: 30px;">Servicios:</mat-toolbar>
  </div>

  <mat-selection-list [multiple]="false" *ngIf="argsServicios.servicios.length > 0">
    <mat-list-option *ngFor="let servicios of argsServicios.servicios; let i = index;">
      <div class="servicios">
        <p class="leyenda"><span class="etiqueta">Importe: </span>{{servicios.importe_servicio | currency}}</p>&nbsp;&nbsp;&nbsp;<p class="leyenda">&nbsp;<span class="etiqueta">Concepto: </span>{{servicios.related_conceptos}}</p>&nbsp;&nbsp;&nbsp;
        <p class="leyenda"><span class="etiqueta">Sub total:&nbsp;</span>{{servicios.sub_total | currency}}</p><p class="leyenda"><span class="etiqueta">Iva:&nbsp;</span>{{servicios.iva | currency}}</p>
        <button class="buttonDocumento" mat-button (click)="solicitarDocumento(servicios)">Documento</button>
        <mat-divider></mat-divider>
      </div>
    </mat-list-option>
  </mat-selection-list>

  <mat-selection-list [multiple]="false" *ngIf="!(argsServicios.servicios.length > 0)">
    <mat-list-option>
      <div class="servicios">
        <p class="leyenda"><span class="etiqueta">Importe: </span>{{argsServicios.servicios.importe_servicio | currency}}</p>&nbsp;&nbsp;&nbsp;<p class="leyenda">&nbsp;<span class="etiqueta">Concepto: </span>{{argsServicios.servicios.related_conceptos}}</p>&nbsp;&nbsp;&nbsp;
        <p class="leyenda"><span class="etiqueta">Sub total:&nbsp;</span>{{argsServicios.servicios.sub_total | currency}}</p><p class="leyenda"><span class="etiqueta">Iva:&nbsp;</span>{{argsServicios.servicios.iva | currency}}</p>
        <button class="buttonDocumento" mat-button (click)="solicitarDocumento(argsServicios.servicios)">Documento</button>
        <mat-divider></mat-divider>
      </div>
    </mat-list-option>
  </mat-selection-list>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="warn">Cerrar</button>
</mat-dialog-actions>



